body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color: #f9f9f9;
}

h1, h2 {
    color: #333;
}

form#loginForm {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: baseline;
}

#statusMessage {
    margin: 1rem 0;
    padding: 0.5rem;
    font-weight: bold;
}

#breweriesSection {
    margin-top: 2rem;
}

#perPageSelector {
    margin-left: 0.5rem;
    padding: 0.3rem;
}

.pagination-controls {
    display: inline-block;
    margin-left: 1rem;
}

#breweriesList {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

#breweriesList li {
    background-color: #fff;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer; /* Mostra una manina sul li */
}

#breweryDetailSection {
    margin-top: 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 4px;
}

#breweryDetailSection button#closeDetail {
    float: right;
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    background-color: #3490dc;
    border-radius: 4px;
}
button:hover {
    background-color: #2779bd;
}

#pageSelector {
    width: 60px;
    padding: 0.3rem;
    margin-left: 0.5rem;
}
